[submodule "doc/wiki"]
	path = doc/wiki
	url = https://github.com/ajaxorg/ace.wiki.git
[submodule "build"]
	path = build
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "snapper-build"]
	path = snapper-build
	url = https://github.com/RedSnapper/ace-builds.git
